.classpath
.project
.settings/**

discovery-server/.classpath
discovery-server/.project
discovery-server/.settings/**
discovery-server/.mvn/**
discovery-server/tartget/**
discovery-server/mvnw.cmd
discovery-server/mvnw*

movies-catalog-service/.classpath
movies-catalog-service/.project
movies-catalog-service/.settings/**
movies-catalog-service/.mvn/**
movies-catalog-service/tartget/**
movies-catalog-service/mvnw.cmd
movies-catalog-service/mvnw*

movies-domain-model/.classpath
movies-domain-model/.project
movies-domain-model/.settings/**
movies-domain-model/.mvn/**
movies-domain-model/tartget/**
movies-domain-model/mvnw.cmd
movies-domain-model/mvnw*

movies-info-service/.classpath
movies-info-service/.project
movies-info-service/.settings/**
movies-info-service/.mvn/**
movies-info-service/tartget/**
movies-info-service/mvnw.cmd
movies-info-service/mvnw*

movies-rating-service/.classpath
movies-rating-service/.project
movies-rating-service/.settings/**
movies-rating-service/.mvn/**
movies-rating-service/tartget/**
movies-rating-service/mvnw.cmd
movies-rating-service/mvnw*

